# Create a script to link to conda env
setuptools
wheel
flask
flask-restful
flask-marshmallow
flask-sqlalchemy
marshmallow-sqlalchemy
pytest
pytest-dependency
pymongo
scikit-learn
numpy
pandas
scipy
joblib
pathlib
seaborn
optuna
fire
gunicorn
xgboost
dermclass_structured